%p#notice= notice

%p
  %b Name:
  = @slider.name
%p
  %b Description:
  = @slider.description
%p
  %b Slide:
  = @slider.slide
%p
  %b Images:
  = @slider.images

= link_to 'Edit', edit_slider_path(@slider)
\|
= link_to 'Back', sliders_path
