
%h1 New Portfolio
= simple_form_for(@portfolio) do |f|
  .form-inputs
    = f.input :name
    = f.input :description
    = f.hidden_field :user,value: current_user
    = f.input :image 

    = f.submit:"Upload Image",class:"btn btn-success"
      